$intern: "Roboto Mono", monospace;
@font-face {
  font-family: "korean";
  src: url("../font/KoreanFont.ttf");
}

.header-container{
  text-align: center;
}

.header-wrap {
  display: inline-block;
}

.interngram {
  display: inline-block;
  font-size: 72px;
  font-family: $intern;
  cursor: pointer;
  color: var(--interngram);
}

.toggle-wrap {
  display: inline-block;
  margin-left: 40px;
}

.checkbox {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.3s;
}
.checkbox::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ccc;
  top: 3px;
  left: 4px;
  transition: 0.3s ease-in-out;
}
.checkbox:checked::before {
  transform: translateX(37px);
  background: #06284b;
}
.checkbox:checked {
  border-color: #06284b;
}
